.userbar {
  padding: 1rem;
  display: flex;
  border-bottom: 1px solid #c4c4c4;
}
.username {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.username p {
  font-size: 14px;
  font-weight: 900;
}
.i {
  font-size: 25px;
}
