.commentSec {
  display: flex;
  justify-content: space-between;
  padding: 0 0.7rem;
  align-items: center;
}
.comment {
  display: flex;
}
.username {
  font-size: 13px;
  font-weight: 900;
}
.comment {
  font-size: 13px;
  color: #333;
}
.i {
  font-size: 12px;
  color: rgb(99, 97, 97);
}
